html, body, #main-container {
  height: 100%;
  width: 100%;
}
#main-container {
}
/* ghost element for vertical align */
#main-container:before {
  content: "";
  display: inline-block;
  height: 100%;
  width: 0;
  vertical-align: middle;
}
